      	         .card-pedding{
         padding: 0px 0px 0px 0px;
         }
         .card-border{
         border-radius: 0px;
         }
         .image-boreder{
         border-radius: 0px;
         }
         .class-group-1{
         margin: 0px 0px 22px 0px;
         width: 100%;
         }
         .class-group-2{
         margin: 0px 0px 22px 00px;
         width: 100%;
         }
         .fotter-text{
         padding: 0px 10px 0px 10px;
         }
         .divider{
         padding: 0px 0px 0px 0px;
         }
         .pedding{
         display: inline-block;
         width: 0%;
         }
